{% if cart.item_count > 0 %}
  <div class="ui horizontal divider">
    <h1 class="ui header">
      Mi Carrito De Compras
    </h1>
  </div>

  <div class="container is-fluid">
    <div class="ui relaxed divided list">
    {% for item in cart.items %}
      <div class="item" id="{{item.variant_id}}">
        <div class="columns list-item">
          <div class="column is-4 centered">
            <h4 class="ui image header">
              <a href="{{ item.url | within: collections.all }}">
                {{ item | img_url: '240x240' | img_tag: item.title }}
              </a>
              <div class="content">
                <a href="{{ item.url }}">{{ item.product.title }}</a>
                <div class="sub header"><a href="/collections/{{item.product.vendor}}">{{ item.product.vendor }}</a>
              </div>
            </h4>
          </div>
          <div class="column is-2 centered">
            {{ item.price }}
          </div>
          <div class="column is-2 centered">
            {{ item.quantity }}
          </div>
          <div class="column is-2 centered">
            {{ item.line_price }}
          </div>
          <div class="column is-2 centered">
            <button class="negative ui icon button remove-from-cart" data-cart-remove-id="{{ item.variant_id }}">
              <i class="remove icon"></i>
            </button>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>

  <div class="container is-fluid">
    <table class="ui very basic single line collapsing table">
      <tbody>
      {% for item in cart.items %}
        <tr class="center aligned" id="{{item.variant_id}}">
          <td class="six wide" style="vertical-align: middle;">
            <h4 class="ui image header">
              <a href="{{ item.url | within: collections.all }}">
                 {{ item | img_url: '240x240' | img_tag: item.title }}
              </a>
              <div class="content">
                <a href="{{ item.url }}">{{ item.product.title }}</a>
                <div class="sub header"><a href="/collections/{{item.product.vendor}}">{{ item.product.vendor }}</a>
              </div>
            </div>
          </h4></td>
          <td class="three wide" style="vertical-align: middle;">
            {{ item.price }}
          </td>
          <td class="two wide" style="vertical-align: middle;"> 
            {{ item.quantity }}
          </td>
          <td class="three wide" style="vertical-align: middle;"> 
            {{ item.line_price }}
          </td>
          <td class="two wide" style="vertical-align: middle;">
          {{ product.variants.first.id }}
            <button class="negative ui icon button remove-from-cart" data-cart-remove-id="{{ item.variant_id }}">
              <i class="remove icon"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    {% if settings.cart_notes_enable %}
      <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
      <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
    {% endif %}

    <p>{{ 'cart.general.subtotal' | t }}</p>
    <p>{{ cart.total_price | money }}</p>
    {% if cart.total_discounts > 0 %}
      <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
    {% endif %}
    <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
    <input type="submit" name="update" value="{{ 'cart.general.update' | t }}">
    <input type="submit" name="checkout" class="btn" value="{{ 'cart.general.checkout' | t }}">
  </form>
{% else %}
  <h1>{{ 'cart.general.title' | t }}</h1>

  {% comment %}
  Cart empty state
  {% endcomment %}
  <div class="supports-cookies">
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
  </div>

  {% comment %}
  Cart no cookies state
  ---------------------
  Browser cookies are required to use the cart. If cookies aren't enabled in the
  browser a message is displayed prompting the user to enable them.
  {% endcomment %}
  <div class="supports-no-cookies">
    <p>{{ 'cart.general.cookies_required' | t }}</p>
  </div>
{% endif %}


<script>
  $(".remove-from-cart").click(function(){
    $('#' + this.getAttribute('data-cart-remove-id')).slideDown();
  })
</script>