{% if section.settings.title != blank %}
  <div class="ui horizontal divider">
    <h1 class="ui header">
      {{ section.settings.title | escape }}
    </h1>
  </div>
{% endif %}

<div class="ui link cards collections">
  <div class="columns">
    {% for block in section.blocks limit: section.blocks.size %}
      {%- assign collection = collections[block.settings.collection] -%}
      <div class="column">
        <div class="fluid raised card">
          <div class="image">
            <img src="{{ collection.image.src | img_url: '1080x720', crop: 'center' }}">
          </div>
          <div class="content">
            <div class="header">{{collection.title}}</div>
            <div class="meta">
              <p>{{ collection.all_products_count }} {{ collection.all_products_count | pluralize: 'Producto', 'Productos' }}</p>
            </div>
            <div class="description">
              {{collection.description}}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
{% endif %}

{% schema %}
  {
    "name": "Lista de Colecciones",
    "max_blocks": 4,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Titulo",
        "default": "Colecciones"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Colección",
        "settings": [
          {
            "label": "Colección",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Colecciones",
        "category": "Colección",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet 'scss' %}
  .collections{
    margin: 5% !important;
    .card{
      .content{
        padding: 5%;
        .header{
          font-weight: bold;
        }
        .meta{
          font-weight: lighter;
          color: #666;
        }
      }
    }
  }
{% endstylesheet %}