{% if section.settings.title != blank %}
  <div class="ui horizontal divider">
    <h1 class="ui header">
      {{ section.settings.title | escape }}
    </h1>
  </div>
{% endif %}

{%- assign collection = collections[section.settings.collection] -%}
<div class="swiper-container featured-products">
  <div class="swiper-wrapper">
      {% for product in collection.products limit: 8 %}
        <div class="swiper-slide slide-product">
          <div class="ui raised card">
            <a href="{{ product.url | within: collection }}">  
              <div class="ui fade masked reveal image">
                <img src="{{ product.images[0].src | product_img_url: 'medium' }}" class="visible content">
                <img src="{{ product.images[1].src | product_img_url: 'medium' }}" class="hidden content">
              </div>
            </a>
            <div class="content">
              <div class="ui purple ribbon label"><i class="star icon"></i>Mas vendido</div>
              <br><br>
              <a class="header">{{product.title}}</a>
              <div class="description">
                {{product.description | truncatewords: 14}}
              </div>
            </div>
            <div class="extra content">
              <div class="ui big label">
                <i class="tag icon"></i><span class="no-deal">$220.00</span> 
              </div>
              <button class="ui right floated compact red inverted circular icon button">
                <i class="add to cart large icon"></i>
              </button>
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
</div>

{% javascript %}
var swiper = new Swiper('.featured-products', {
  loop: true,
  slidesPerView: 4,
  spaceBetween: 20
});
{% endjavascript %}

{% stylesheet 'scss' %} 
  .featured-products{
    margin: 25px 15px;
    .slide-product{
      display: flex;
      justify-content: center;
      align-items: center;
      .card{
        height: 400px!important;
      }
    }
  }
{% endstylesheet %}

{% schema %}
  {
    "name": "Colección Destacada",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Encabezado",
        "default": "Colección Destacada"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Colección"
      }
    ],
    "presets": [
      {
        "name": "Colección Destacada",
        "category": "Colección"
      }
    ]
  }

{% endschema %}
