<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/> 

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/0.4.1/rivets-cart.min.js"></script>

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div class="columns is-gapless" id="main-container">
    <div class="column is-2 full-height" id="sidebar">
      <div class="is-fullwidth has-text-centered" id="logo">
        <h1 class="ui header">
          <img class="ui image" src="{{ settings.logo | img_url: '256x', crop: 'center' }}">        
        </h1>
      </div>
      <div class="columns is-gapless full-height">
        <div class="column is-2 full-height has-text-centered" id="social">
          <div class="ui fluid inverted borderless vertical icon menu " id="shopping-cart">
            <div class="item">
              <a class="" href="/cart">
                <i class="shop icon"></i>
                <div class=" ui small floating circular red label" id="counter">{{ cart.item_count }}</div>
              </a>
            </div>
          </div>
          <div class="ui inverted divider"></div>
          <div class="ui fluid inverted borderless vertical icon menu " id="social-buttons">
            <div class="item">
              <i class="facebook icon"></i>
            </div>
            <a class="item">
              <i class="twitter icon"></i>
            </a>
            <a class="item">
              <i class="instagram icon"></i>
            </a>
            <a class="item">
              <i class="mail icon"></i>
            </a>
            <a class="item">
              <i class="phone icon"></i>
            </a>
          </div>
        </div>
        <div class="column">
          <div class="ui inverted fluid borderless vertical menu">
            <div class="item" id="search">
              <div class="ui inverted transparent icon input">
                <input type="text" placeholder="Buscar...">
                <i class="search icon"></i>
              </div>
            </div>
            <a class="item">
              Inicio
            </a>
            <a class="item">
              Hombre
            </a>
            <a class="item">
              Mujer
            </a>
            <a class="item">
              Niño
            </a>
            <a class="item">
              Contacto
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="column full-height" id="content">
      <!-- Aqui va el contenido-->
      {{ content_for_layout }}
      {% section 'footer' %}
    </div>
  </div>
  <script type="text/javascript">
    jQuery(function() {
        CartJS.init({{ cart | json }});
        $(document).on('cart.requestComplete', function(event, cart) {
          $("#counter").html(cart.item_count);
        });
        $(".button").mouseup(function(){
            $(this).blur();
        })
    });
  </script>
</body>
</html>

